/02-CylinderCircle/nbproject/private/
/02-CylinderCircle/build/
/03-Futbola-Herentzia/build/
/04-Monstruoak/nbproject/private/
/04-Monstruoak/build/
/05-Erosketak/build/
/2020-02-18Hasierakoa/nbproject/private/
/2020-02-18Hasierakoa/build/
/2022-02-24Alain_Basterra/nbproject/private/
/2022-02-24Alain_Basterra/build/
/HiztegiaSQLite/nbproject/private/
/HiztegiaSQLite/build/
/UD3/02-CylinderCircle/build/
/UD3/02-CylinderCircle/nbproject/private/
/UD3/03-Futbola-Herentzia/build/
/UD3/03-Futbola-Herentzia/nbproject/private/
/UD3/04-Monstruoak/build/
/UD3/04-Monstruoak/nbproject/private/
/UD3/05-Erosketak/build/
/UD3/05-Erosketak/nbproject/private/
/UD3/2020-02-18Hasierakoa/build/
/UD3/2020-02-18Hasierakoa/nbproject/private/
/UD3/2022-02-24Alain_Basterra/build/
/UD3/2022-02-24Alain_Basterra/nbproject/private/
/UD4/HiztegiaSQLite/build/
/UD4/HiztegiaSQLite/nbproject/private/
/StreamekinLanean/nbproject/private/
